-- AlterTable
ALTER TABLE "vet_hospital" ADD COLUMN     "is_archived" BOOLEAN NOT NULL DEFAULT false;

-- CreateIndex
CREATE INDEX "idx_vet_hospital_archived" ON "vet_hospital"("is_archived");


